*{
    margin: 0;
}
header{
    background-color: palegoldenrod;
    height: 20vh;
}
container{
    display: flex;
    height: 70vh;
}
side{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 30%;
    background-color: red;
}
img{
    width: 80%;
    height: 40%;
    margin: 1em;
}
main{
    width: 70%;
    background-color: green;
}
footer{
    background-color: blue;
    height: 10vh;
}